extends ../../layout/master
include ../../mixin/breadcrumb

block content
    +breadcrumb([
        {title: 'Home', link: '/'},
        {title: 'Categories'},
        {title: 'Culture'}
    ])

    .w3l-searchblock.w3l-homeblock1.py-5
        .container.py-lg-4.py-md-3
            // block
            .row
                .col-lg-8.most-recent
                    h3.section-title-left Culture
                    .row
                        .col-md-12.item
                            .card
                                .card-header.p-0.position-relative
                                    a(href='#blog-single')
                                        img.card-img-bottom.d-block.radius-image(src='/assets/images/blog.jpg' alt='Card image cap')
                                .card-body.p-0.blog-details
                                    a.blog-desc(href='#blog-single')
                                        | How To Be The First to Post A Comment on a
                                        | Blog-Post?
                                    p
                                        | Lorem ipsum dolor sit amet consectetur ipsum adipisicing elit. Qui eligendi
                                        | vitae sit.
                                    .author.align-items-center.mt-3.mb-1
                                        a(href='#author') Johnson smith
                                        |  in 
                                        a(href='#url') Design
                                    ul.blog-meta
                                        li.meta-item.blog-lesson
                                            span.meta-value  April 13, 2020 
                                        li.meta-item.blog-students
                                            span.meta-value  6min read
                        .col-lg-6.col-md-6.item.mt-5.pt-lg-3
                            .card
                                .card-header.p-0.position-relative
                                    a(href='#blog-single')
                                        img.card-img-bottom.d-block.radius-image(src='/assets/images/p1.jpg' alt='Card image cap')
                                .card-body.p-0.blog-details
                                    a.blog-desc(href='#blog-single')
                                        | How to Start a Blog and make money every
                                        | Month from it
                                    p
                                        | Lorem ipsum dolor sit amet consectetur ipsum adipisicing elit. Qui eligendi
                                        | vitae sit.
                                    .author.align-items-center.mt-3.mb-1
                                        a(href='#author') Johnson smith
                                        |  in 
                                        a(href='#url') Design
                                    ul.blog-meta
                                        li.meta-item.blog-lesson
                                            span.meta-value  April 13, 2020 
                                        li.meta-item.blog-students
                                            span.meta-value  6min read
                        .col-lg-6.col-md-6.item.mt-5.pt-lg-3
                            .card
                                .card-header.p-0.position-relative
                                    a(href='#blog-single')
                                        img.card-img-bottom.d-block.radius-image(src='/assets/images/p4.jpg' alt='Card image cap')
                                .card-body.p-0.blog-details
                                    a.blog-desc(href='#blog-single')
                                        | What&rsquo;s better than following your passion
                                        | and making income
                                    p
                                        | Lorem ipsum dolor sit amet consectetur ipsum adipisicing elit. Qui eligendi
                                        | vitae sit.
                                    .author.align-items-center.mt-3.mb-1
                                        a(href='#author') Johnson smith
                                        |  in 
                                        a(href='#url') Design
                                    ul.blog-meta
                                        li.meta-item.blog-lesson
                                            span.meta-value  April 13, 2020 
                                        li.meta-item.blog-students
                                            span.meta-value  6min read
                        .col-lg-6.col-md-6.item.mt-5.pt-lg-3
                            .card
                                .card-header.p-0.position-relative
                                    a(href='#blog-single')
                                        img.card-img-bottom.d-block.radius-image(src='/assets/images/p3.jpg' alt='Card image cap')
                                .card-body.p-0.blog-details
                                    a.blog-desc(href='#blog-single')
                                        | Without further delay, let&rsquo;s learn how you
                                        | can start a blog today.
                                    p
                                        | Lorem ipsum dolor sit amet consectetur ipsum adipisicing elit. Qui eligendi
                                        | vitae sit.
                                    .author.align-items-center.mt-3.mb-1
                                        a(href='#author') Johnson smith
                                        |  in 
                                        a(href='#url') Design
                                    ul.blog-meta
                                        li.meta-item.blog-lesson
                                            span.meta-value  April 13, 2020 
                                        li.meta-item.blog-students
                                            span.meta-value  6min read
                        .col-lg-6.col-md-6.item.mt-5.pt-lg-3
                            .card
                                .card-header.p-0.position-relative
                                    a(href='#blog-single')
                                        img.card-img-bottom.d-block.radius-image(src='/assets/images/p7.jpg' alt='Card image cap')
                                .card-body.p-0.blog-details
                                    a.blog-desc(href='#blog-single')
                                        | Either way, Blogging could help you achieve
                                        | your goal.
                                    p
                                        | Lorem ipsum dolor sit amet consectetur ipsum adipisicing elit. Qui eligendi
                                        | vitae sit.
                                    .author.align-items-center.mt-3.mb-1
                                        a(href='#author') Johnson smith
                                        |  in 
                                        a(href='#url') Design
                                    ul.blog-meta
                                        li.meta-item.blog-lesson
                                            span.meta-value  April 13, 2020 
                                        li.meta-item.blog-students
                                            span.meta-value  6min read
                    // pagination
                    .pagination-wrapper.mt-5
                        ul.page-pagination
                            li
                                span.page-numbers.current(aria-current='page') 1
                            li
                                a.page-numbers(href='#url') 2
                            li
                                a.page-numbers(href='#url') 3
                            li
                                a.page-numbers(href='#url') 4
                            li
                                a.page-numbers(href='#url') ....
                            li
                                a.page-numbers(href='#url') 15
                            li
                                a.next(href='#url')
                                    span.fa.fa-angle-right
                    // //pagination
                .col-lg-4.trending.mt-lg-0.mt-5.mb-lg-5
                    .pos-sticky
                        h3.section-title-left Trending 
                        .grids5-info
                            h4 01.
                            .blog-info
                                a.blog-desc1(href='#blog-single')
                                    | You can always change your domain name in the
                                    | future if you like.
                                .author.align-items-center.mt-2.mb-1
                                    a(href='#author') Johnson smith
                                    |  in 
                                a(href='#url') Design
                            ul.blog-meta
                                li.meta-item.blog-lesson
                                    span.meta-value  April 13, 2020 
                                li.meta-item.blog-students
                                    span.meta-value  6min read
                    .grids5-info
                        h4 02.
                        .blog-info
                            a.blog-desc1(href='#blog-single')
                                | Pick a domain name &amp; hosting for your blog
                            .author.align-items-center.mt-2.mb-1
                                a(href='#author') Johnson smith
                                |  in 
                                a(href='#url') Design
                            ul.blog-meta
                                li.meta-item.blog-lesson
                                    span.meta-value  April 13, 2020 
                                li.meta-item.blog-students
                                    span.meta-value  6min read
                    .grids5-info
                        h4 03.
                        .blog-info
                            a.blog-desc1(href='#blog-single')
                                | How To Start A Blog From Scratch and with No
                                | Experience
                            .author.align-items-center.mt-2.mb-1
                                a(href='#author') Johnson smith
                                |  in 
                                a(href='#url') Design
                            ul.blog-meta
                                li.meta-item.blog-lesson
                                    span.meta-value  April 13, 2020 
                                li.meta-item.blog-students
                                    span.meta-value  6min read
                    .grids5-info
                        h4 04.
                        .blog-info
                            a.blog-desc1(href='#blog-single')
                                | Within few minutes, you will have your blog
                                | up and running.
                            .author.align-items-center.mt-3.mb-1
                                a(href='#author') Johnson smith
                                |  in 
                                a(href='#url') Design
                            ul.blog-meta
                                li.meta-item.blog-lesson
                                    span.meta-value  April 13, 2020 
                                li.meta-item.blog-students
                                    span.meta-value  6min read
        // //block
        // ad block
        .ad-block.text-center.mt-5
            a(href='#url')
                img.img-fluid(src='/assets/images/ad.gif' alt='ad image')
        // //ad block
