extends ../layout/master

include ../mixin/dataTable
block content
    .main-card.mb-3.card
        .card-body
            h5.card-title List of the Category
            +dataTable(category, ['slug', 'title'], '/admin/category/edit/')
        .show-noti
    script(src="/jquery.min.js")
    script(src="/backend/category.js")

