extends ../layout/master

include ../mixin/dataTable
block content
    .main-card.mb-3.card
        .card-body
            h5.card-title List of the Tag
            +dataTable(tag, ['slug', 'title'], '/admin/tag/edit/')
        .show-noti
    script(src="/jquery.min.js")
    script(src="/backend/tag.js")

