extends ../layout/master

block content
    nav#breadcrumbs.breadcrumbs
      .container.page-wrapper
        a(href='index') Home
        |  / Blog / 
        span.breadcrumb_last(aria-current='page')
          | Featured
          | posts
    section#blog-slider.w3l-blog-slider
      // main-slider
      .blog-slider.py-5
        .container.py-lg-4.py-md-3.mb-md-0.mb-5
          h3.section-title-left All Featured posts 
          .owl-testimonial.owl-carousel.owl-theme
            .item
              .row
                .col-lg-6
                  a(href='single')
                    img.card-img-bottom.d-block.radius-image(src='/assets/images/p3.jpg' alt='Card image cap')
                .col-lg-6.blog-details.align-self.mt-lg-0.mt-4
                  a.blog-desc-big(href='single')
                    | How to Start a Blog from Scratch
                    | and with No Experience
                  p
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos blanditiis, odit non
                    | asperiores
                    | possimus voluptas sit nihil nam id explicabo saepe sapiente excepturi similique,
                    | dicta
                    | officia odio natus nemo. Ratione ipsa distinctio explicabo esse quod autem
                    | veritatis, in fugit odio.
                  .author.align-items-center.mt-4.mb-1
                    a(href='author') Johnson smith
                    |  in 
                    a(href='#url') Design
                  ul.blog-meta
                    li.meta-item.blog-lesson
                      span.meta-value  April 13, 2020 
                    li.meta-item.blog-students
                      span.meta-value  6min read
            .item
              .row
                .col-lg-6
                  a(href='single')
                    img.card-img-bottom.d-block.radius-image(src='/assets/images/p2.jpg' alt='Card image cap')
                .col-lg-6.blog-details.align-self.mt-lg-0.mt-4
                  a.blog-desc-big(href='single')
                    | What Else you need to reach the
                    | next level of Blogging
                  p
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos blanditiis, odit non
                    | asperiores
                    | possimus voluptas sit nihil nam id explicabo saepe sapiente excepturi similique,
                    | dicta
                    | officia odio natus nemo. Ratione ipsa distinctio explicabo esse quod autem
                    | veritatis, in fugit odio.
                  .author.align-items-center.mt-4.mb-1
                    a(href='author') Johnson smith
                    |  in 
                    a(href='#url') Design
                  ul.blog-meta
                    li.meta-item.blog-lesson
                      span.meta-value  April 13, 2020 
                    li.meta-item.blog-students
                      span.meta-value  6min read
            .item
              .row
                .col-lg-6
                  a(href='single')
                    img.card-img-bottom.d-block.radius-image(src='/assets/images/p1.jpg' alt='Card image cap')
                .col-lg-6.blog-details.align-self.mt-lg-0.mt-4
                  a.blog-desc-big(href='single')
                    | How to select a great domain name
                    | for your Business
                  p
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos blanditiis, odit non
                    | asperiores
                    | possimus voluptas sit nihil nam id explicabo saepe sapiente excepturi similique,
                    | dicta
                    | officia odio natus nemo. Ratione ipsa distinctio explicabo esse quod autem
                    | veritatis, in fugit odio.
                  .author.align-items-center.mt-4.mb-1
                    a(href='author') Johnson smith
                    |  in 
                    a(href='#url') Design
                  ul.blog-meta
                    li.meta-item.blog-lesson
                      span.meta-value  April 13, 2020 
                    li.meta-item.blog-students
                      span.meta-value  6min read
            .item
              .row
                .col-lg-6
                  a(href='single')
                    img.card-img-bottom.d-block.radius-image(src='/assets/images/blog.jpg' alt='Card image cap')
                .col-lg-6.blog-details.align-self.mt-lg-0.mt-4
                  a.blog-desc-big(href='single')
                    | Just remember these 3 secrets when
                    | picking a domain name for your blog.
                  p
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos blanditiis, odit non
                    | asperiores
                    | possimus voluptas sit nihil nam id explicabo saepe sapiente excepturi similique,
                    | dicta
                    | officia odio natus nemo. Ratione ipsa distinctio explicabo esse quod autem
                    | veritatis, in fugit odio.
                  .author.align-items-center.mt-4.mb-1
                    a(href='author') Johnson smith
                    |  in 
                    a(href='#url') Design
                  ul.blog-meta
                    li.meta-item.blog-lesson
                      span.meta-value  April 13, 2020 
                    li.meta-item.blog-students
                      span.meta-value  6min read
      // /main-slider
