extends ../layout/master
block content
    nav#breadcrumbs.breadcrumbs
        .container.page-wrapper
            a(href='index.html') Home
            |  / Blog / 
            span.breadcrumb_last(aria-current='page')
                | Video single
                | post
    .py-5.w3l-homeblock1.text-center
        .container.mt-md-3
            h3.blog-desc-big.text-center.mb-4
                | Your Blog Posts are Boring? Here are 9 Tips for
                | Making your Writing more Interesting
            .blog-post-align
                .blog-post-img
                    a(href='author.html')
                        img.rounded-circle.img-fluid(src='/assets/images/author.jpg' alt='')
                .blog-post-info
                    .author.align-items-center.mb-1
                        a(href='author.html') Johnson smith
                        |  in 
                        a(href='#url') Design
                    ul.blog-meta
                        li.meta-item.blog-lesson
                            span.meta-value  April 13, 2020 
                        li.meta-item.blog-students
                            span.meta-value  6min read

    section.blog-post-main.w3l-homeblock1
        // /blog-post
        .blog-content-inf.pb-5
            .container.pb-lg-4
                .single-post-image
                    .post-content
                        iframe.mb-5(src='https://www.youtube.com/embed/ZlbHdYMWSOA' frameborder='0' allowfullscreen='')
                .single-post-content
                    p.alphabet.mb-4
                        span.big-letter A
                        | Lorem ipsum dolor sit amet,Ea
                        |                         consequuntur
                        |                         illum facere aperiam sequi optio
                        |                         dolor set consectetur.Ea ipsum sed consequuntur illum facere aperiam sequi optio consectetur
                        |                         adipisicing elitFuga, suscipit totam animi consequatur saepe. Lorem ipsum dolor sit amet,
                        |                         illum facere sequi optio elit..
                    p.mb-4
                        | Lorem ipsum, dolor sit amet consectetur adipisicing elit. At, corrupti odit? At
                        | iure facere, porro repellat officia quas, dolores magnam assumenda soluta odit harum
                        | voluptate
                        | inventore ipsa maiores fugiat accusamus eos nulla. Iure explicabo officia. Lorem ipsum dolor
                        | sit
                        | amet, consectetur adipisicing elit, dolorem.
                    blockquote.blockquote.my-5
                        .icon-quote
                            span.fa.fa-quote-left(aria-hidden='true')
                        |                         Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio consectetur.Ea
                        |                         consequuntur illum facere aperiam sequi optio consectetur adipisicing elitFuga, suscipit
                        |                         totam animi, dolores magnam assumenda soluta odit harum.
                        footer.blockquote-footer.mt-3
                            | Smith lara
                    h3.blog-desc-big.m-0.mb-4 What makes a good blog post?
                    p.mb-4
                        | Excepteur sint occaecat non proident, sunt in culpa quis. Phasellus lacinia id
                        | erat eu. Nunc id ipsum fringilla, gravida felis vitae. Phasellus lacinia id, sunt in
                        | culpa quis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde expedita esse
                        | error enim
                        | repellat, architecto corporis rerum ipsa alias cum!
                    p.mb-4
                        | Dolor sit sed amet, excepteur sint occaecat non proident, sunt in culpa quis.
                        | Phasellus
                        | lacinia id erat eu. Nunc id ipsum fringilla, gravida felis vitae. Phasellus lacinia id, sunt
                        | in
                        | culpa quis.
                    p.mb-4
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, veritatis.
                        | Excepteur
                        | sint occaecat non proident, sunt in culpa quis. Phasellus lacinia id
                        | erat eu. Nunc id ipsum fringilla, gravida felis vitae. Phasellus lacinia id, sunt in
                        | culpa quis. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    .sing-post-thumb.mb-lg-5.mb-4.pt-3
                        iframe(src='https://www.youtube.com/embed/9LznT2phLpI' frameborder='0' allowfullscreen='')
                    h3.blog-desc-big.m-0.mb-4 How to wite a Blog Post
                    p.mb-4
                        | Dolor sit sed amet, excepteur sint occaecat non proident, sunt in culpa quis.
                        | Phasellus
                        | lacinia id erat eu. Nunc id ipsum fringilla, gravida felis vitae. Phasellus lacinia id, sunt
                        | in
                        | culpa quis. Lorem ipsum dolor, sit amet elit.
                    .text-list.mb-4
                        ol
                            li Understand your audience. 
                            li Create your blog domain. 
                            li Sign Up With a Content Management System 
                            li Register a Domain or Subdomain With a Website Host 
                            li Customize your blog&apos;s theme. 
                            li Identify your first blog post&apos;s topic.
                    p.mb-4
                        | Excepteur sint occaecat non proident, sunt in culpa quis. Phasellus lacinia id
                        | erat eu. Nunc id ipsum fringilla, gravida felis vitae. Phasellus lacinia id, sunt in
                        | culpa quis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde expedita esse
                        | error enim
                        | repellat, architecto corporis rerum ipsa alias cum!
                    p.mb-4
                        | Dolor sit sed amet, excepteur sint occaecat non proident, sunt in culpa quis.
                        | Phasellus
                        | lacinia id
                        | erat eu. Nunc id ipsum fringilla, gravida felis vitae. Phasellus lacinia id, sunt in
                        | culpa quis.
                    h3.blog-desc-big.m-0.mt-5.mb-4 Search for Inspiration
                    p.mb-4
                        | Vivamus a ligula quam. Ut blandit eu leo non suscipit. 
                        a.use-admin(href='#') Domains
                        |  In interdum ullamcorper dolor eu mattis.Nulla quis lorem
                        |                         neque,Nulla
                        |                         quis lorem neque, mattis venenatis lectus.
                        a.use-admin(href='#')  Sub Domains
                        |                         In interdum ullamcorper dolor eu mattis.Nulla quis lorem neque, mattis venenatis
                        |                         lectus.
                    p.mb-4
                        | Dolor sit sed amet, excepteur sint occaecat non proident, sunt in culpa quis.
                        | Phasellus
                        | lacinia id erat eu. Nunc id ipsum fringilla, gravida felis vitae. Phasellus lacinia id, sunt
                        | in
                        | culpa quis.
                    .d-grid.left-right.mt-5.pb-md-5
                        .buttons-singles.tags
                            h4 Tags :
                            a(href='#blog-tag') Culture
                            a(href='#blog-tag') Sports
                            a(href='#blog-tag') Technology
                            a(href='#blog-tag') Health
                        .buttons-singles
                            h4 Share :
                            a(href='#blog-share')
                                span.fa.fa-facebook(aria-hidden='true')
                            a(href='#blog-share')
                                span.fa.fa-twitter(aria-hidden='true')
                            a(href='#blog-share')
                                span.fa.fa-google-plus(aria-hidden='true')
                            a(href='#blog-share')
                                span.fa.fa-pinterest-p(aria-hidden=' true')
                    // //author-card
                    .author-card.mt-5
                        .row.align-items-center
                            .col-sm-3.col-6
                                div
                                    img.rounded-circle.img-fluid(src='/assets/images/author.jpg' alt='')
                            .col-sm-9.mt-sm-0.mt-3
                                h3.mb-3.title Alexander Ronald
                                p
                                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, sed et
                                    | excepturi.
                                    | Distinctio fugit odit? Fugit ipsam. Lorem ipsum dolor sit.
                                ul.author-icons.mt-4
                                    li
                                        a.facebook(href='#url')
                                            span.fa.fa-facebook(aria-hidden='true')
                                    li
                                        a.twitter(href='#url')
                                            span.fa.fa-twitter(aria-hidden='true')
                                    li
                                        a.google(href='#url')
                                            span.fa.fa-google-plus(aria-hidden='true')
                                    li
                                        a.linkedin(href='#url')
                                            span.fa.fa-linkedin(aria-hidden='true')
                                    li
                                        a.github(href='#url')
                                            span.fa.fa-github(aria-hidden='true')
                                    li
                                        a.dribbble(href='#url')
                                            span.fa.fa-dribbble(aria-hidden='true')
                    // //author-card
                    .comments.mt-5
                        h4.side-title Comments (2)
                        .media.mt-4
                            .img-circle
                                img.img-fluid(src='/assets/images/c1.jpg' alt='...')
                            .media-body
                                ul.time-rply.mb-2
                                    li
                                        a.name.mt-0.mb-2.d-block(href='#URL') William Jack
                                        |                                         April 15th, 2020 - 10:02 pm
                                    li.reply-last
                                        a.reply(href='#reply')
                                            | Reply
                                p
                                    | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat, hic
                                    | reprehenderit eum cupiditate deleniti, Lorem ipsum dolor sit amet consectetur
                                    | adipisicing.....
                        .media
                            .img-circle
                                img.img-fluid(src='/assets/images/c2.jpg' alt='...')
                            .media-body
                                ul.time-rply.mb-2
                                    li
                                        a.name.mt-0.mb-2.d-block(href='#URL') James Harper
                                        |                                         April 15th, 2020 - 12:30 pm
                                    li.reply-last
                                        a.reply(href='#reply')
                                            | Reply
                                p
                                    | Lorem ipsum dolor, sit amet consectetur adipisicing. Ea consequuntur illum facere
                                    | aperiam sequi optio consectetur adipisicing elitFuga,
                                    | suscipit totam animi.....
                                .media.second.mt-4.p-0.pt-2
                                    a.img-circle.img-circle-sm(href='#url')
                                        img.img-fluid(src='/assets/images/c3.jpg' alt='...')
                                    .media-body
                                        ul.time-rply.mb-2
                                            li
                                                a.name.mt-0.mb-2.d-block(href='#URL') Jackson Wyatt
                                                |                                                 April 15th, 2020 - 14:20 pm
                                            li.reply-last
                                                a.reply(href='#reply')  Reply
                                        p
                                            | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                                            | corrupti quos dolores et. Lorem ipsum dolor sit amet......
                    #reply.leave-comment-form.mt-5
                        h4.side-title.mb-2 Leave a Reply
                        p.mb-4
                            | Your email address will not be published. Required fields are marked *
                    form(action='#' method='post')
                        .form-group
                            textarea.form-control(name='Comment' placeholder='Your Comment*' required='' spellcheck='false')
                        .input-grids.row
                            .form-group.col-lg-6
                                input.form-control(type='text' name='Name' placeholder='Your Name*' required='')
                            .form-group.col-lg-6
                                input.form-control(type='email' name='Email' placeholder='Email*' required='')
                        .submit.text-right
                            button.btn.btn-style.btn-primary Post Comment 
                // related posts
                .item.mt-5.pt-lg-5
                    h3.section-title-left Maybe You are Interested in 
                    .row
                        .col-md-6
                            .list-view.list-view1
                                .grids5-info
                                    a.d-block.zoom(href='blog-single.html')
                                        img.img-fluid.radius-image.news-image(src='/assets/images/4.jpg' alt='')
                                    .blog-info.align-self
                                        a.blog-desc1(href='blog-single.html')
                                            | Edit/proofread your post,
                                            | and fix your formatting.
                                        .author.align-items-center.mt-3.mb-1
                                            a(href='author.html') Johnson smith
                                            |  in 
                                            a(href='#url') Design
                                        ul.blog-meta
                                            li.meta-item.blog-lesson
                                                span.meta-value  April 13, 2020 
                                            li.meta-item.blog-students
                                                span.meta-value  6min read
                        .col-md-6.mt-md-0.mt-5
                            .list-view.list-view1
                                .grids5-info
                                    a.d-block.zoom(href='blog-single.html')
                                        img.img-fluid.radius-image.news-image(src='/assets/images/6.jpg' alt='')
                                    .blog-info.align-self
                                        a.blog-desc1(href='blog-single.html')
                                            | How to Create your blog
                                            | domain to make it live
                                        .author.align-items-center.mt-3.mb-1
                                            a(href='author.html') Johnson smith
                                            |  in 
                                            a(href='#url') Design
                                        ul.blog-meta
                                            li.meta-item.blog-lesson
                                                span.meta-value  April 13, 2020 
                                            li.meta-item.blog-students
                                                span.meta-value  6min read
                // //related posts
                // //blog-post
